<form>
    <div class="col">
        <mat-form-field class="zied" appearance="fill">
            <mat-label>username</mat-label>
            <input matInput>
        </mat-form-field>


        <mat-form-field class="zied" appearance="fill">
            <mat-label>email</mat-label>
            <input matInput>
        </mat-form-field>

    </div>

    <div class="col">
        <mat-form-field class="zied" appearance="fill">
            <mat-label>address</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="zied" appearance="fill">
            <mat-label>numero de telephone</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button class="btn btn-danger" (click)="onNoClick()">No Thanks</button>
        <button mat-button class="btn btn-success" (click)="ajouter()">Ok</button>
    </div>
</form>