
    .divide{
        float: left;
        color: #555;
        height: 57px;
      
    }
    #openNav{
        height: 57px;
    }
    #closeNav{
        height: 57px;
        display: none;
        
    }
    /////////////////////////////////////////
    #navbar, #menu, #contenu, #footer {
        padding:1px 0;
        }
        #navbar, #menu, #contenu, #footer {
            padding:1px 0;
            }
            #navbar {
                overflow: hidden;
                position: fixed;
                top: 0;
                width: 100%;
                text-align: center;
            }
            #main {
                height :850px;
                margin:auto;
            }
            #menu  {
            float:left;
            width:240px;
            margin-top: 230px;

            }
            #contenu {
            margin-left:245px;
 
            }
            #footer {
            background-color:#848484;
            text-align:center;
            clear:both;
            }
/////////

  /* Links inside the navbar */
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  
