<style type="text/css">
  .matrowzied {
    overflow: auto;



  }

  #btnControl {
    display: none;
  }

  #btnControl+label>img {
    width: 70px;
    height: 74px;
  }
</style>

<div>
  <div>
    <button type="button" class="btn btn-primary btn-round" style="margin: 10px 50px 20px;"
      routerLink="/ajoutarticle">ajouter</button>
  </div>




  <div>
    <div class="table-responsive">
      <div style="margin-left: 50px;">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="search">
        </mat-form-field>
      </div>



      <mat-table [dataSource]="dataSource" matSort class="table align-items-center table-flush">
        <!-- Name Column -->
        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef mat-sort-header> image </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              <div class="matrowzied">
                <input type="checkbox" id="btnControl" />
                <label *ngIf="row.files!!=null" class="btn" for="btnControl"><img
                    src="api/File/file/{{row.files.id}}" id="btnLeft" /></label>
              </div>

            </ng-container>
          </mat-cell>
        </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="prix">
          <mat-header-cell *matHeaderCellDef mat-sort-header> prix </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="matrowzied">
              {{row.prix}}
            </div>


          </mat-cell>
        </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="matrowzied">
              {{row.name}}
            </div>


          </mat-cell>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> description </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="matrowzied">
              {{row.description}}
            </div>


          </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="categorie">
          <mat-header-cell *matHeaderCellDef mat-sort-header> categorie </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div> {{row.categorie}} </div>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> type </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div>{{row.type}} </div>
          </mat-cell>
        </ng-container>


        <!-- Color Column -->
        <ng-container matColumnDef="option">
          <mat-header-cell *matHeaderCellDef mat-sort-header> option </mat-header-cell>
          <mat-cell *matCellDef="let row" class="text-right ">
            <div>
              <div class="button-group">
                <button type="button" class="btn btn-warning"
                  [routerLink]="['/trip-management/modifier', row.idTrip ]">modifier
                </button>
              </div>
              <br>
              <div class="button-group">
                <button type="button" class="btn btn-danger" (click)="supprimer(row)">
                  supprimer
                </button>
              </div>
            </div>



          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


    </div>